<img src="{{ site.github.url }}/assets/img/work/proj-1/img1.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-1/img2.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-1/img3.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-1/img4.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-1/img5.jpg" alt="Zen Magazine">

<img src="{{ site.github.url }}/assets/img/work/proj-1/img5.jpg" alt="Zen Magazine">
