<img src="{{ site.github.url }}/assets/img/work/proj-1/img1.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-1/img2.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-1/img3.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-1/img4.jpg" alt="Zen Magazine">

<a href="https://zen-developers.github.io/zendigital.github.io/"><strong>Zen's First design</strong></a>
<hr></hr>
<a href="https://zenmagazine.co.za/"><strong>Project</strong></a>
