<img src="{{ site.github.url }}/assets/img/work/proj-4/img1.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-4/img2.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-4/img3.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-4/img4.jpg" alt="Zen Magazine">
<img src="{{ site.github.url }}/assets/img/work/proj-4/img5.jpg" alt="Zen Magazine">

<a href="https://github.com/mrbrogrammer/propapp"><strong>Check Repo</strong></a>
