<section class="section-blog">
  <div class="flex flex--center">
    <div class="col-50">
      <div class="article-wrap">
        {% for posts in site.posts limit: 12 %}
          <a href="{{posts.url}}" style="background-image: url(assets/img/posts/thumbnails/{{posts.thumbnail}})" class="article-thumb">
            <div class="article-meta">
              <div class="name">{{posts.title}}</div>
              <div class="date">{{posts.date | date: "%b, %d, %Y"}}</div>
            </div>
          </a>
        {% endfor %}
        <!-- <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a>
        <a href="" style="background-image: url(https://fillmurray.lucidinternets.com/250/500)" class="article-thumb">
          <div class="article-meta">
            <div class="name">Article name</div>
            <div class="date">Jun 20, 1999</div>
          </div>
        </a> -->
      </div>
    </div>
    <div class="col-50 flex flex--center order-first">
      <div class="col-1">
        <div class="desc-wrap">
          <p class="home-lead outdented">Gaming and coding articles</p>
          <a class="home-cta" href="#">See all articles</a>
        </div>
      </div>
    </div>
  </div>
</section>
