<section id="blog">
  <div class="flex flex--center">

    <div class="col-50 order-first">
      <div class="article-wrap">
        {% for posts in site.posts limit: 12 %}
          <a href="{{posts.url}}" style="background-image: url(assets/img/posts/thumbnails/{{posts.thumbnail}})" class="article-thumb">
            <div class="article-meta">
              <div class="name">{{posts.title}}</div>
              <div class="date">{{posts.date | date: "%b, %d, %Y"}}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="col-50 flex flex--center">
      <div class="col-1">
        <div class="desc-wrap">
          <p class="home-lead split outdented">Gaming and coding articles</p>
          <a class="home-cta" href="{{ site.github.url }} /blog">See all articles</a>
        </div>
      </div>
    </div>


  </div>
</section>
