<section id="reviews">

  <div class="flex flex--center">

    <div class="col-1">
      <ul class="faces">
        {% for client in site.data.settings.clients %}
          <li class="face" style="background-image: url({{ site.github.url }}/assets/img/clients/{{ client.avatar }});">
            <div class="bubble {% if forloop.index == 3 %}has-bubble-open{% endif %}">
              <div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
                {{ client.quote }}
              <div class="face-info"> - {{client.name}}, {{client.title}}, {{client.company}}</div>
            </div>
          </li>
        {% endfor %}
        <li class="back-btn face">
        </li>
      </ul>
    </div>

    <div class="col-50 flex flex--center order-second">
      <div class="col-1">
        <p class="home-lead split outdented">Let's work together</p>
        <a class="home-cta" href="https://calendly.com/simphiwe-simphiwemadi/30min">Schedule a Call</a>
      </div>
    </div>
  </div>

</section>
