<section class="section-clients">

  <div class="flex flex--center">

    <div class="col-1">
      <ul class="faces">
        {% for client in site.data.settings.clients %}
        <li class="face {% if forloop.index == 3 %}has-bubble-open{% endif %}" style="background-image: url({{ site.github.url }}/assets/img/clients/{{ client.avatar }});">
          <div class="bubble {% if forloop.index == 3 %}has-bubble-open{% endif %}">
            {{ client.quote }}
            <div class="name"> - {{client.name}}, {{client.title}}</div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-50 flex flex--center order-second">
      <div class="col-1">
        <p class="home-lead outdented">Let's work together</p>
        <a class="home-cta" href="#">Schedule a Call</a>
      </div>
    </div>
  </div>

</section>
