<section class="section-music">
  <div class="flex flex--space-around">

    <div class="col-1">
      <p>
        ¡acilisis, est est eleteno visus, a uncount tellus !
        actus dignissim. Proin leo massa, cornodo a, ter
        ue blandit dui. Duis ultricies odio at erat. Donec
        justo. Phasellus purus ante, ullamcorper at, tat
        risus porttitor blandit malesnada, purus risus h
        ¿, varius ornare, velit. Integer dictum ornare dol
        igula. Etiam ornare varins dian. Vivans augu is varins, ipsum ut tincidunt ornare, purus dolor
        nascetur ridiculus mus. Cras dignissim pharetro nisl vitae erat pulvinar sodales. Donec blandi
        215. Donec dolor enim, adipiscing a, bibenum nor
        met adiniscina facilisis est est eleifend risus. a ti
      </p>
    </div>

    <div class="col-1">
      <p>
        ¡acilisis, est est eleteno visus, a uncount tellus !
        actus dignissim. Proin leo massa, cornodo a, ter
        ue blandit dui. Duis ultricies odio at erat. Donec
        justo. Phasellus purus ante, ullamcorper at, tat
        risus porttitor blandit malesnada, purus risus h
        ¿, varius ornare, velit. Integer dictum ornare dol
        igula. Etiam ornare varins dian. Vivans augu is varins, ipsum ut tincidunt ornare, purus dolor
        nascetur ridiculus mus. Cras dignissim pharetro nisl vitae erat pulvinar sodales. Donec blandi
        215. Donec dolor enim, adipiscing a, bibenum nor
        met adiniscina facilisis est est eleifend risus. a ti
      </p>
    </div>
  </div>
</section>
