<section id="youtube">

  <div class="flex flex--space-around">

    <div class="col-1">
      <div class="video-strip">
      </div>


      <div class="flex-video">
        <div class="video-placeholder" data-video-id="sJEgpDMaJOw" data-max-retries="3">
          <img src="https://img.youtube.com/vi/sJEgpDMaJOw/maxresdefault.jpg" alt="Video thumbnail">
          <div class="play-button"></div>
        </div>
      </div>
    </div>

    <div class="col-1 order-first">
      <p class="home-lead outdented">Plays some of your favourite video games while talking to himself</p>
      <a class="home-cta" href="#">Watch on YouTube</a>
    </div>
  </div>
</section>
