<section id="youtube">
  <div class="flex flex--space-around">

    <div class="col-1">
      <div class="video-strip">
      </div>
      <div class="flex-video">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/sJEgpDMaJOw?si=pDn_rpAWu2fFXMQq" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-1 order-first">
      <p class="home-lead outdented">Plays some of your favourite video games while talking to himself</p>
      <a class="home-cta" href="#">Watch on YouTube</a>
    </div>
  </div>
</section>
