.section-blog
  flex: 1
  margin-left: 160px

  .home-cta
    background-color: $accent
    color: white

    &:hover
      background-color: $accent-light

  .col-1
    display: flex
    align-items: center

  .article-wrap
    +clearfix

  background:
    // image: url(../img/article-bg.png)
    repeat: repeat

  .article-thumb
    display: block
    background:
      image: url(https://fillmurray.lucidinternets.com/250/500)
      size: cover
      position: center
    width: 25%
    float: left
    position: relative
    overflow: hidden
    opacity: 0
    transition: all 300ms ease-in-out

    &.is-visible
      opacity: 1

    &.is-emp
      animation-name: tada
      animation-duration: 1s
      animation-fill-mode: both
      z-index: 1

    &:after
      content: ''
      display: block
      padding-top: 100%

  .article-meta
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: fade-out(#c99065, 0.3)
    color: white
    padding: 10px
    transform: translate(0%, 100%) scale(0.5)
    transition: all 200ms ease-in-out
    opacity: 0

    .name
      font-size: 18px
      line-height: 1.2

    .date
      font-style: italic


  .article-thumb:hover .article-meta
    opacity: 1
    transform: translate(0%, 0%) scale(1)

  @media (max-width: 999px) and (min-width: 680px)
    .article-thumb
      width: 33.3%


@media (max-width: 680px)
  .section-blog
    margin-left: 0

    .col-1
      display: block
      align-items: center

      .desc-wrap
        text-align: center
        margin-top: 50px
        margin-bottom: 30px



@keyframes tada
  from
    transform: scale3d(1, 1, 1)

  10%,
  20%
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)

  30%,
  50%,
  70%,
  90%
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)

  40%,
  60%,
  80%
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)

  to
    transform: scale3d(1, 1, 1)
