#post
  flex: 1
  background-color: white
  margin-left: 160px

  .col-50
    margin-top: 80px


  .post-wrap
    // +clearfix
    display: list-item
    position: relative
    width: 100%

  .post-header
    display: block
    margin-bottom: 30px
    background-color: white
    min-width: 100%

    .post-title
      font-size: 42px
      letter-spacing: -1px
      line-height: 1

    .post-meta
      font-size: 14px
      color: #828282

  .post-content
    margin-bottom: 30px

@media(max-width: 680px)
  #post
    margin-left: 0

    .col-50
      margin-top: 112px
