#search
  background-color: white
  margin-left: 160px
  margin-top: 80px

  .col-2
    align-items: center
    background-color: white
    padding: 0

  .search-wrap
    display: flex

    input
      padding: 10px
      width: 100%


@media(max-width: 680px)
  #search
    margin-left: 0px
    margin-top: 112px
