.section-youtube
  flex: 1
  // padding-bottom: -50px
  margin-left: 160px

.home-lead
  font-size: 36px
  line-height: 1.1
//
// .home-cta
//   color: #e20a0a
//
//   &:hover
//     color: #e20a0a

  // &.outdented
  //   text-indent: -0.8em


.col-1
  background: none
  position: relative
  margin-top: 50px

.video-strip
  background: pink
  position: absolute
  margin: -50px 0
  top: 0
  width: 100%
  height: calc(100% + 100px)

@media (max-width: 680px)
  .section-youtube
    margin-left: 0
    padding-top: 1px
