.section-youtube
  flex: 1
  margin-top: 20px
  margin-left: 160px

.home-lead
  font-size: 36px
  line-height: 1.1
// 
// .home-cta
//   color: #e20a0a
//
//   &:hover
//     color: #e20a0a

  // &.outdented
  //   text-indent: -0.8em


.col-1
  background: none

@media (max-width: 680px)
  .section-youtube
    margin-left: 0
