<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="3;url=https://www.mozilla.org" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    
    {{ content }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ site.github.url }}/assets/js/functions.js"></script>
  </body>
</html>>
