---
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include nav.html %}

    <div class="page-content">
      <div class="wrapper">
        <article class="post">
          <div style="background-image: url({{ site.github.url }}/assets/img/posts/thumbnails/{{page.thumbnail}});" class="post-thumb"></div>

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-meta">
              <time>{{ page.date }}</time>
            </p>
          </header>
          <div class="post-content">
              {{ content }}
          </div>
        </article>
      </div>
    </div>

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ site.github.url }}/assets/js/blog.js"></script>
  </body>
</html>
